$o_input_marging: 0.4rem;
$o_tree_height: 800px;
$no_awv_type_background_color: rgb(190, 50, 120);

.o_bms_input_radio{
    margin: $o_input_marging;
}

.o_bms_decomposition  > ul.fancytree-container {
        height: $o_tree_height;
    }

//  class for fancytree js lib
.o_bms_ft_no_awv_type {
    background-color: $no_awv_type_background_color;
}